@charset "UTF-8";
@font-face {
	font-family: 'Donoun-Medium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Donoun-Medium.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: Donoun-Medium;
}


html,
body {
    height: 100%;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
  height: 100%;
  background: #000;
}

.carousel-caption{padding-bottom:80px;}


