@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --bg-primary: #16161a;
  --bg-secondary: #242629;
  --font-color-primary: #fffffe;
  --font-color-secondary: #94a1b2;
}

body {
  font-family: Montserrat;
  background: var(--bg-secondary);
}

section.header {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--bg-primary);
  color: var(--font-color-primary);
}

section.header > h1 {
  font-size: 50px;
  letter-spacing: 1.2px;
  padding: 20px;
  text-align: center;
}

section.results {
  background: var(--bg-secondary);
}

.form {
  width: 50vw;
  height: 40px;
  position: relative;
  display: flex;
  margin: 50px;
}

#movie {
  width: 100%;
  border-right: none;
  font-size: 20px;
  padding: 20px;
  height: 100%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: none;
  outline: none;
  color: rgba(22, 22, 26, 0.8);
  /*   color: var(--bg-primary); */
}

#submit {
  width: 40px;
  height: 100%;
  border: none;
  background: #7f5af0;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
#submit2 {

  width: 40px;
  height: 100%;
  border: none;
  background: #7f5af0;
  text-align: center;
  color: #fff;
  border-radius: 5px 5px;
  cursor: pointer;
  font-size: 20px;

}

/* Movie Grid Section */
.movie-grid {
  width: 100%;
  margin: 30px auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(7, minmax(100%, 1fr));
  grid-auto-rows: 480px; /* keeps the rows fixed to a height */
  color: white;
}
.movie {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: #353535;
  font-size: 3rem;
  color: #fff;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* movie > h2.notAvailable {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  color: var(--font-color-secondary);
  font-size: 20px;
  text-align: center;
} */

.movieTitle {
  font-size: 15px;
  background: var(--font-color-secondary);
  width: 100%;
  text-align: center;
  padding: 5px 10px;
}

.movieTitle > a {
  text-decoration: none;
  color: var(--bg-primary);
}

.movieTitle > a:hover {
  color: var(--bg-secondary);
}

@media screen and (max-width: 600px) {
  .movie-grid {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 480px;
  }
}
